asn1crypto==0.24.0
certifi==2019.6.16
cffi==1.15.0
chardet==3.0.4
Click==7.0
colorama==0.4.1
construct==2.9.45
cryptography==3.3.2
ecdsa==0.13.3
idna==2.8
libusb1==3.0.0
mnemonic==0.18
pbkdf2==1.3
pyblake2==1.1.2
pycparser==2.19
pyperclip==1.7.0
requests==2.27.1
shamir-mnemonic==0.1.0
simplejson==3.16.0
six==1.12.0
trezor==0.11.4
typing-extensions==3.7.4
urllib3==1.26.9
git+https://github.com/makk4/tpass.git@master#egg=tpass
